* {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.left-section {
  flex: 1;
  background-image: url(martin-baron-HjGEuDtc_I4-unsplash.jpg);
  background-color: green;
  background-repeat: no-repeat;
  background-size: cover;
}

.logo {
  display: flex;
  position: relative;
  top: 30vh;
}

.footer {
  display: flex;
  position: absolute;
  bottom: 10px;
}

.right-section {
  flex: 2;
  background-color: beige;
  display: flex;
  flex-direction: column;
}

.right-section > div {
  padding-left: 30px;
}

.right-section > .top {
  flex: 1;
  display: flex;
  align-items: flex-end;
}

.description { 
  margin-bottom: 30px;
}

.right-section > .middle {
  flex: 1;
  background-color: cornsilk;
  display: flex;
  flex-direction: column;
}

.inputs {
    display: flex;
    gap: 30px;
    flex: 1;
}

.inputs > div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.inputs > div > div {
    display: flex;
    flex-direction: column;
}

.right-section > .bottom {
  display: flex;
  flex-direction: column;
  flex: 1;
}

#submit {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 200px;
  height: 40px;
}